{% extends 'base.html' %}
{% block contenido %}

{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Log In</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}