{% extends 'base.html' %}
{% block contenido %}
{% load static %}

<h2>Resultados de la búsqueda: {{buscar}}</h2>

<div class="row row-cols-1 row-cols-md-3">
    {% for producto in productos %}
    <div class="col mb-4">
      <div class="card h-100">
          <img class="card-img-top mx-auto" style="height: 10rem;;" src="{% static  producto.image %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title "><b>{{producto.title}}</b></h5>
            <p class="card-text">{{producto.description}}</p>
          </div>
          <p class="card-footer">{{producto.price}} €</p>
      </div>
    </div>

    {% endfor %}
</div>

{% endblock %}