{% extends 'base.html' %}
{% block contenido %}

<h2>Portada de la etienda</h2>

<div class="d-flex justify-content-between flex-wrap">
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Electronics</h5>
            <a href="./busq/electronics" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
        <h5 class="card-title">jewelery</h5>
        <a href="./busq/jewelery" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
        <h5 class="card-title">Men's fashion</h5>
        <a href="./busq/men's clothing" class="btn btn-primary">Ver detalle</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Women's fashion</h5>
      <a href="./busq/women's clothing" class="btn btn-primary">Ver detalle</a>
    </div>
</div>

</div>

{% endblock %}